body {
    font-family: sans-serif;
    background-color: #333333
}

h1,
h2,
h3,
h4 {
    color: #ffffff;
}

h1,
h2 {
    font-family: 'georgia', serif;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}

p,
dd,
dt {
    color: #cccccc;
}

a {
    text-decoration: none;
    color: #ffffcc;
    font-size: .75em;
}

.pane {
    position: absolute;
    #left: 25%;
    border: 2px solid;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
    border-color: #999999;
    background-color: #333333
}

.bottompane {
    position: absolute;
    left: 30%;
    border: 2px solid;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
    border-color: #999999;
    background-color: #333333;
	width: 60%;
}

.header {
    left: 50%;
    text-align: center;
}

.name {
    width: 100%;
    display: inline-block;
    float: left;
    #left: 25%;

}

.itemcontainer{
    border: 2px solid;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
    border-color: #999999;
    background-color: #333333
}

.description {
    width: 100%;
    display: inline-block;
    float: right;
}

.loginout {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.latestList {
	width: 100%;
    display: inline-block;
    text-align: center;
}

.price {
    text-align: right;
    width: 50%;
    float: right;
}

.editdeletepane {}

.flash {
    background: #cee5f5;
}