<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>

<h1> Edit Item </h1>

<form action="{{ url_for('editItem', category_id = items.cat_id, item_id=items.item_id)}}" method = 'post'>

<dl>
	<dt>Name:</dt>
		<dd><input type ='text' size='30' name='item_name' value = '{{items.item_name }}'></dd>
	<dt>Description:</dt>
		<dd><input type = 'text' size='30' name = 'description' value = '{{items.description }}'></dd>
</dl>


<input type='submit' value='Edit'>

<a href = '{{url_for('astroMenu', category_id = category_id)}}'> Cancel </a>
</form>
</body>
</html>